<h1>Hola <%= @user.user_profile.full_name %>,</h1>
<p>Te informamos que la contraseña de tu cuenta ha sido modificada recientemente.</p>
<p>Si no realizaste este cambio, por favor ponte en contacto con nuestro equipo de seguridad de inmediato.</p>
