<p>Hola <%= @user.email %>!</p>

<p>Tu código de verificación es:</p>

<h2 style="color: #aa48fb;"><%= @user.verification_code %></h2>

<p>Ingresa este código en tu app para activar tu cuenta.</p>

<footer style="margin-top: 20px; color: #155dfd;">
  ¡Gracias por registrarte en Stiliza!
</footer>
